.btn-group a {
  padding-right: 0.25rem !important;
}

.footer {
  margin-top: auto;
  padding: 1rem 0;
}

.form-group {
  margin-bottom: 0 !important;
}

.navbar-brand,
.nav-link {
  text-transform: uppercase;
}

.of-cover {
  object-fit: cover;
}

.page-header {
  padding-bottom: 0.5rem !important;
  margin-top: 1.5rem !important;
  margin-bottom: 0.5rem !important;
  border-bottom: 1px solid #dee2e6 !important;
}

body {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
}

main {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

header.masthead{
  padding-top:10rem;
  padding-bottom:calc(35rem - 72px);
  background:-webkit-gradient(from(rgba(255, 255, 255, 0.8)),to(rgba(255, 255, 255, 0.8))),url(https://images.squarespace-cdn.com/content/5b196ee731d4df831f0acadd/1552167195394-JQR8OQE2D58H2PQX5BAJ/4L8A6696.jpg?format=500w&content-type=image%2Fjpeg);
  background:linear-gradient(rgba(255, 255, 255, 0.8) 0,rgb(47, 25, 10) 100%),url(https://images.squarespace-cdn.com/content/5b196ee731d4df831f0acadd/1552167195394-JQR8OQE2D58H2PQX5BAJ/4L8A6696.jpg?format=500w&content-type=image%2Fjpeg);
  background-position:center;
  background-size:cover
}

  .button {
    background-color: #4CAF50;
  }