{% extends './templates/menu.html.twig' %}
{% block items %}
<div class='row'>
    {% for item in menu %}
    <div class='col-sm-4 pt-1 pb-1'>
        <div class="card">
            <img src="./assets/images/{{ item.name }}.jpg" class="card-img-top">
            <form>
                <div class="form-group card-body">
                    <h5 class="card-title">{{ item.name|title }}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <div class='row'>
                        <div class='col d-flex align-items-center text-center'>
                            <div class='container-fluid'>${{ item.price }}</div>
                        </div>
                        <div class='col d-flex align-items-center text-center'>
                            <div class='container-fluid'>
                                <button type='submit' class="btn btn-primary">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}