{% extends './templates/base.html.twig' %}
{% block content %}
    <script>
        var menu = {{ menu|json_encode|raw }};
    </script>
    <div class="container">
        <div class="row mt-1 mb-1">
            <div class="col">
                <h1 class="page-header text-center text-uppercase">Cart</h1>
                <p class="lead">
                    <small class="text-muted">
                        <span class="cart-length"></span>
                        <script>
                            updateCartLength();
                            if (cart.length === 1) document.write(" item"); else document.write(" items");
                        </script>
                    </small>
                </p>
            </div>
        </div>
        <div class="row mt-1 mb-1">
            <div class="col">
                <div id="cart" class="cart overflow-auto"></div>
            </div>
        </div>
        <div class="row mt-2 mb-1">
            <div class="col"></div>
            <div class="col-3 d-flex align-items-center text-center">
                <script>
                    if (cart.length >= 1) document.write("<div class='container-fluid'>$<span class='cart-price'></span></div>");
                </script>
            </div>
            <div class="col-4 col-md-3 d-flex align-items-center">
                <script>
                    if (cart.length >= 1) document.write("<button type='button' class='btn btn-primary btn-block text-uppercase font-weight-bold' onclick=\"window.location.href = '/cart/checkout';\">Checkout</button>");
                </script>
            </div>
        </div>
    </div>
    <script>
        var cartprice = 0;
        for (var x = 0; x < cart.length; ++x) {

            var item = cart[x].toString().split(":");

            for (var y = 0; y < menu.length; ++y) {
                if (item[0] === menu[y].id) {
                    var itemsize = "";
                    var itemprice = menu[y].sprice;

                    switch (item[1]) {
                        case "S":
                            itemsize = "small";
                            itemprice = menu[y].sprice;
                            break;

                        case "M":
                            itemsize = "medium";
                            itemprice = menu[y].mprice;
                            break;

                        case "L":
                            itemsize = "large";
                            itemprice = menu[y].lprice;
                            break;
                    }

                    cartprice += Number(itemprice);

                    document.getElementById("cart").innerHTML += `
                    <div class='card mt-1 mb-1'>
                        <div class='row no-gutters'>
                            <div class='col-3 col-md-2 col-lg-1'>
                                <a href='/item/${menu[y].id}'><img src='/assets/images/${menu[y].name}.jpg' alt='${menu[y].name}' class='card-img h-100 of-cover'></a>
                            </div>
                            <div class='col d-flex align-items-center'>
                                <div class='card-body'>
                                    <h5 class='card-title text-uppercase'>${itemsize} ${menu[y].name}</h5>
                                    <h6 class='card-subtitle text-muted'>$${itemprice}</h6>
                                </div>
                            </div>
                            <div class='col-1 d-flex align-items-center'>
                                <button type='button' class='close' aria-label='Close' onclick="clearItem('${cart[x]}')">
                                    <span aria-hidden='true'>&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    `;
                }
            }
        }

        updateCartPrice(cartprice.toFixed(2));
    </script>
{% endblock %}
