{% extends './templates/base.html.twig' %}
{% block content %}
    <div class="container">
        <div class="row mt-1 mb-1">
            <div class="col">
                <h1 class="page-header text-center text-uppercase">Contact Us</h1>
            </div>
            <div class="row mt-1">
                <div class="col-md-6">
                    <h1 class="section-title">We'd Love to Hear From You</h1>
                    <p>Contact us during our open hours via our phone number listed below or come visit us at our
                        location to get yourself a coffee.
                        Alternatively message our team via the form and we will get to your reply with any issues that
                        you may have as soon as possible.</p>
                    <div class="find-widget">
                        Company: <a href="/">Coffee Buzz</a>
                    </div>
                    <div class="find-widget">
                        Address: <a
                                href="https://www.google.com/maps/place/13+Kenneth+St,+Braybrook+VIC+3019/@-37.782176,144.8523911,17z/data=!3m1!4b1!4m5!3m4!1s0x6ad65e16e53146dd:0x1b7f5c88d7800c6c!8m2!3d-37.782176!4d144.8545798"
                                target="_blank">13
                            Kenneth Road, Melbourne, Australia</a>
                    </div>
                    <div class="find-widget">
                        Phone: +64 04151354
                    </div>
                    <div class="find-widget">
                        Open Hours: Mon to Sat: 09:30 AM - 10.30 PM
                    </div>
                </div>
                <div class="col-md-6">
                    <form action="mailto:matthieuetienne0104@gmail.com" class="container" role="form" method="post"
                          id="contactForm" name="contact-form" data-toggle="validator">
                        <div class="form-group mt-1">
                            <label class="control-label" for="name">Name</label>
                            <input class="form-control" id="name" type="text" name="name" required
                                   data-error="Please enter your name">
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group mt-1">
                            <label class="control-label" for="email">Email</label>
                            <input class="form-control" id="email" type="email" name="email" required
                                   data-error="Please enter your Email">
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group mt-1">
                            <label class="control-label">Subject</label>
                            <input class="form-control" id="msg_subject" type="text" name="subject" required
                                   data-error="Please enter your message subject">
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group mt-1">
                            <label for="message" class="control-label">Message</label>
                            <textarea class="form-control" rows="3" id="message" name="message" required
                                      data-error="Write your message"></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-submit mt-1">
                            <button class="btn btn-primary btn-block" type="submit" id="form-submit">Send Message</button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
