{% extends './templates/base-staff.html.twig' %}
{% block content %}
    <main role="main" class="text-center">
        <form class="form-signin" method="post">
            <h1 class="h3 mb-3 font-weight-normal">Please login</h1>
            <input id="staffid" name="staffid" class="form-control" type="text" placeholder="Staff ID" required autofocus>
            <input id="password" name="password" class="form-control" type="password"  placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
    </main>
{% endblock %}
