<!DOCTYPE html>
<html>
{% include('./shared/script.html.twig') %}
{% include('./shared/head.html.twig') %}

<body>
{% include('./shared/header.html.twig') %}
<main role="main">{% block content %} {% endblock %}</main>
</body>

</html>